<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhb.platform.dao.OaConfigTabMapper">
  <resultMap id="BaseResultMap" type="com.dhb.platform.entity.OaConfigTab">
    <result column="ROW_ID" jdbcType="DECIMAL" property="rowId" />
    <result column="SYS_WEB_PATH" jdbcType="VARCHAR" property="sysWebPath" />
    <result column="SYS_UPLOAD_PATH" jdbcType="VARCHAR" property="sysUploadPath" />
    <result column="MAIL_SERVER_IP" jdbcType="VARCHAR" property="mailServerIp" />
    <result column="MAIL_SERVER_PORT" jdbcType="DECIMAL" property="mailServerPort" />
    <result column="WEB_MASTER_MAIL" jdbcType="VARCHAR" property="webMasterMail" />
    <result column="SYS_URL" jdbcType="VARCHAR" property="sysUrl" />
    <result column="UPLOAD_FILE_LENGTH" jdbcType="DECIMAL" property="uploadFileLength" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="LAST_UPDATE_BY" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="UPDATE_COUNT" jdbcType="DECIMAL" property="updateCount" />
    <result column="ATTRIBUTE01" jdbcType="VARCHAR" property="attribute01" />
    <result column="ATTRIBUTE02" jdbcType="VARCHAR" property="attribute02" />
    <result column="ATTRIBUTE03" jdbcType="DECIMAL" property="attribute03" />
    <result column="ATTRIBUTE04" jdbcType="DECIMAL" property="attribute04" />
  </resultMap>
  <sql id="Base_Column_List">
      ROW_ID, SYS_WEB_PATH, SYS_UPLOAD_PATH, 
      MAIL_SERVER_IP, MAIL_SERVER_PORT, WEB_MASTER_MAIL, 
      SYS_URL, UPLOAD_FILE_LENGTH, CREATE_DATE, 
      CREATE_BY, LAST_UPDATE_DATE, LAST_UPDATE_BY, 
      UPDATE_COUNT, ATTRIBUTE01, ATTRIBUTE02, 
      ATTRIBUTE03, ATTRIBUTE04
  </sql>
  <select id="selectOaConfig" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OA_CONFIG_TAB 
    ORDER BY ROW_ID DESC LIMIT 1
  </select>
</mapper>