<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhb.platform.dao.OrgRightlistMapper">
  <resultMap id="BaseResultMap" type="com.dhb.platform.entity.OrgRightlist">
    <result column="ROW_ID" jdbcType="DECIMAL" property="rowId" />
    <result column="RIG_MODULE_NAME" jdbcType="VARCHAR" property="rigModuleName" />
    <result column="FIRST_MODULE_CODE" jdbcType="VARCHAR" property="firstModuleCode" />
    <result column="SECND_MODULE_CODE" jdbcType="VARCHAR" property="secndModuleCode" />
    <result column="RIG_CODE" jdbcType="VARCHAR" property="rigCode" />
    <result column="RIG_NAME" jdbcType="VARCHAR" property="rigName" />
    <result column="ACTIVE_FLAG" jdbcType="DECIMAL" property="activeFlag" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="LAST_UPDATE_BY" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="UPDATE_COUNT" jdbcType="DECIMAL" property="updateCount" />
    <result column="ATTRIBUTE01" jdbcType="VARCHAR" property="attribute01" />
    <result column="ATTRIBUTE02" jdbcType="VARCHAR" property="attribute02" />
    <result column="ATTRIBUTE03" jdbcType="VARCHAR" property="attribute03" />
    <result column="ATTRIBUTE04" jdbcType="DECIMAL" property="attribute04" />
  </resultMap>
  <sql id="Base_Column_List">
    ROW_ID, RIG_MODULE_NAME, FIRST_MODULE_CODE, SECND_MODULE_CODE, RIG_CODE, RIG_NAME, 
    ACTIVE_FLAG, CREATE_DATE, CREATE_BY, LAST_UPDATE_DATE, LAST_UPDATE_BY, UPDATE_COUNT, 
    ATTRIBUTE01, ATTRIBUTE02, ATTRIBUTE03, ATTRIBUTE04
  </sql>
  <select id="selectByParams" parameterType="com.dhb.platform.entity.OrgRightlist" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ORG_RIGHTLIST
    where 1=1
    <if test="userId != null and userId != ''">
        and ACCOUNT = '${userId}'
    </if>
  </select>
  <insert id="insert" parameterType="com.dhb.platform.entity.OrgRightlist">
    insert into ORG_RIGHTLIST (ROW_ID, RIG_MODULE_NAME, FIRST_MODULE_CODE, 
      SECND_MODULE_CODE, RIG_CODE, RIG_NAME, 
      ACTIVE_FLAG, CREATE_DATE, CREATE_BY, 
      LAST_UPDATE_DATE, LAST_UPDATE_BY, UPDATE_COUNT, 
      ATTRIBUTE01, ATTRIBUTE02, ATTRIBUTE03, 
      ATTRIBUTE04)
    values (#{rowId,jdbcType=DECIMAL}, #{rigModuleName,jdbcType=VARCHAR}, #{firstModuleCode,jdbcType=VARCHAR}, 
      #{secndModuleCode,jdbcType=VARCHAR}, #{rigCode,jdbcType=VARCHAR}, #{rigName,jdbcType=VARCHAR}, 
      #{activeFlag,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{lastUpdateDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{updateCount,jdbcType=DECIMAL}, 
      #{attribute01,jdbcType=VARCHAR}, #{attribute02,jdbcType=VARCHAR}, #{attribute03,jdbcType=VARCHAR}, 
      #{attribute04,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.dhb.platform.entity.OrgRightlist">
    insert into ORG_RIGHTLIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rowId != null">
        ROW_ID,
      </if>
      <if test="rigModuleName != null">
        RIG_MODULE_NAME,
      </if>
      <if test="firstModuleCode != null">
        FIRST_MODULE_CODE,
      </if>
      <if test="secndModuleCode != null">
        SECND_MODULE_CODE,
      </if>
      <if test="rigCode != null">
        RIG_CODE,
      </if>
      <if test="rigName != null">
        RIG_NAME,
      </if>
      <if test="activeFlag != null">
        ACTIVE_FLAG,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="updateCount != null">
        UPDATE_COUNT,
      </if>
      <if test="attribute01 != null">
        ATTRIBUTE01,
      </if>
      <if test="attribute02 != null">
        ATTRIBUTE02,
      </if>
      <if test="attribute03 != null">
        ATTRIBUTE03,
      </if>
      <if test="attribute04 != null">
        ATTRIBUTE04,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rowId != null">
        #{rowId,jdbcType=DECIMAL},
      </if>
      <if test="rigModuleName != null">
        #{rigModuleName,jdbcType=VARCHAR},
      </if>
      <if test="firstModuleCode != null">
        #{firstModuleCode,jdbcType=VARCHAR},
      </if>
      <if test="secndModuleCode != null">
        #{secndModuleCode,jdbcType=VARCHAR},
      </if>
      <if test="rigCode != null">
        #{rigCode,jdbcType=VARCHAR},
      </if>
      <if test="rigName != null">
        #{rigName,jdbcType=VARCHAR},
      </if>
      <if test="activeFlag != null">
        #{activeFlag,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateCount != null">
        #{updateCount,jdbcType=DECIMAL},
      </if>
      <if test="attribute01 != null">
        #{attribute01,jdbcType=VARCHAR},
      </if>
      <if test="attribute02 != null">
        #{attribute02,jdbcType=VARCHAR},
      </if>
      <if test="attribute03 != null">
        #{attribute03,jdbcType=VARCHAR},
      </if>
      <if test="attribute04 != null">
        #{attribute04,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhb.platform.dao.OrgRightlistMapper">
  <resultMap id="BaseResultMap" type="com.dhb.platform.entity.OrgRightlist">
    <result column="ROW_ID" jdbcType="DECIMAL" property="rowId" />
    <result column="RIG_MODULE_NAME" jdbcType="VARCHAR" property="rigModuleName" />
    <result column="FIRST_MODULE_CODE" jdbcType="VARCHAR" property="firstModuleCode" />
    <result column="SECND_MODULE_CODE" jdbcType="VARCHAR" property="secndModuleCode" />
    <result column="RIG_CODE" jdbcType="VARCHAR" property="rigCode" />
    <result column="RIG_NAME" jdbcType="VARCHAR" property="rigName" />
    <result column="ACTIVE_FLAG" jdbcType="DECIMAL" property="activeFlag" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="LAST_UPDATE_BY" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="UPDATE_COUNT" jdbcType="DECIMAL" property="updateCount" />
    <result column="ATTRIBUTE01" jdbcType="VARCHAR" property="attribute01" />
    <result column="ATTRIBUTE02" jdbcType="VARCHAR" property="attribute02" />
    <result column="ATTRIBUTE03" jdbcType="VARCHAR" property="attribute03" />
    <result column="ATTRIBUTE04" jdbcType="DECIMAL" property="attribute04" />
  </resultMap>
  <insert id="insert" parameterType="com.dhb.platform.entity.OrgRightlist">
    insert into ORG_RIGHTLIST (ROW_ID, RIG_MODULE_NAME, FIRST_MODULE_CODE, 
      SECND_MODULE_CODE, RIG_CODE, RIG_NAME, 
      ACTIVE_FLAG, CREATE_DATE, CREATE_BY, 
      LAST_UPDATE_DATE, LAST_UPDATE_BY, UPDATE_COUNT, 
      ATTRIBUTE01, ATTRIBUTE02, ATTRIBUTE03, 
      ATTRIBUTE04)
    values (#{rowId,jdbcType=DECIMAL}, #{rigModuleName,jdbcType=VARCHAR}, #{firstModuleCode,jdbcType=VARCHAR}, 
      #{secndModuleCode,jdbcType=VARCHAR}, #{rigCode,jdbcType=VARCHAR}, #{rigName,jdbcType=VARCHAR}, 
      #{activeFlag,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{lastUpdateDate,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{updateCount,jdbcType=DECIMAL}, 
      #{attribute01,jdbcType=VARCHAR}, #{attribute02,jdbcType=VARCHAR}, #{attribute03,jdbcType=VARCHAR}, 
      #{attribute04,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.dhb.platform.entity.OrgRightlist">
    insert into ORG_RIGHTLIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rowId != null">
        ROW_ID,
      </if>
      <if test="rigModuleName != null">
        RIG_MODULE_NAME,
      </if>
      <if test="firstModuleCode != null">
        FIRST_MODULE_CODE,
      </if>
      <if test="secndModuleCode != null">
        SECND_MODULE_CODE,
      </if>
      <if test="rigCode != null">
        RIG_CODE,
      </if>
      <if test="rigName != null">
        RIG_NAME,
      </if>
      <if test="activeFlag != null">
        ACTIVE_FLAG,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="lastUpdateDate != null">
        LAST_UPDATE_DATE,
      </if>
      <if test="lastUpdateBy != null">
        LAST_UPDATE_BY,
      </if>
      <if test="updateCount != null">
        UPDATE_COUNT,
      </if>
      <if test="attribute01 != null">
        ATTRIBUTE01,
      </if>
      <if test="attribute02 != null">
        ATTRIBUTE02,
      </if>
      <if test="attribute03 != null">
        ATTRIBUTE03,
      </if>
      <if test="attribute04 != null">
        ATTRIBUTE04,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rowId != null">
        #{rowId,jdbcType=DECIMAL},
      </if>
      <if test="rigModuleName != null">
        #{rigModuleName,jdbcType=VARCHAR},
      </if>
      <if test="firstModuleCode != null">
        #{firstModuleCode,jdbcType=VARCHAR},
      </if>
      <if test="secndModuleCode != null">
        #{secndModuleCode,jdbcType=VARCHAR},
      </if>
      <if test="rigCode != null">
        #{rigCode,jdbcType=VARCHAR},
      </if>
      <if test="rigName != null">
        #{rigName,jdbcType=VARCHAR},
      </if>
      <if test="activeFlag != null">
        #{activeFlag,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateCount != null">
        #{updateCount,jdbcType=DECIMAL},
      </if>
      <if test="attribute01 != null">
        #{attribute01,jdbcType=VARCHAR},
      </if>
      <if test="attribute02 != null">
        #{attribute02,jdbcType=VARCHAR},
      </if>
      <if test="attribute03 != null">
        #{attribute03,jdbcType=VARCHAR},
      </if>
      <if test="attribute04 != null">
        #{attribute04,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>